.gameover {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  border: solid black 2px;
  height: 500px;
  width: 500px;
  background-color: #BAD8DD;
  align-items: center;

  &-text {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }

  &-score {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      border: solid black 2px;
      border-radius: 5px;
      height: 80%;
      width: 60%;

      &-top {
        border-bottom: solid black 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 25px;
        background: #E3EFF1;
      }

      &-bottom {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}

.return {
  height: 15%;
  width: 35%;
  border-radius: 5px;
  font-size: large;
  background-color: #E3EFF1;
  border: solid rgb(180, 180, 180) 1px;

  &:hover {
    background-color: #75B1BC;
    cursor: pointer;
    border: solid black 1px;
    transition: 0.3s;
  }
}

@media (max-width: 1024px) {
  .gameover {
    height: 50vh;
    width: 90vw;
  
    &-text {
      font-size: 50px;
    }
  
    &-score {
        
      &-text {
          
        &-top {
          font-size: 18px;
        }        
      }
    }
  }
  
  .return {
    font-size: 18px;
  }
}