.board {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: solid black 2px;
  height: 500px;
  width: 500px;
  background-color: #BAD8DD;

  &-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-start {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
      width: 130px;
      height:13%;
      font-size: large;
      border-radius: 6px;
      background-color: #E3EFF1;

      &:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: #75B1BC;
      }
    }
  }

  &-question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
  }

  &-btns {
    width: 100%;
    height: 55%;

    & button {
      font-size: 18px;
      width: 100%;
      height:22%;
      margin-top: 1%;
      border: solid black 1px;
      border-radius: 4px;
      background-color: #E3EFF1;

    }
  }
}

.wrong-answer{
  background-color: rgb(219, 163, 163);
  transition: 1s;
}

.right-answer{
  background-color: rgb(123, 167, 123);
  transition: 1s;
}

.disabled-btn {
  pointer-events: none;
}

@media (max-width: 480px) {
  .board {
    height: 50vh;
    width: 90vw;
  
    &-question { 
      font-size: 18px; 
    }
  
    &-btns {

      & button {
        font-size: 15px;  
        
        &:active {
          background-color: #75B1BC;
        }
      }
    }
  }  
}

@media (min-width: 481px) {
  .board {
    &-btns {
  
      & button {
  
        &:hover {
          cursor: pointer;
          background-color: #75B1BC;
          transition: 0.3s;
        }
      }
    }
  }
}


